.BurgerCard {
    /* height: 80%; */
    overflow-y: scroll;
    /* border: 1px solid lightcoral; */
}

@media (max-width: 768px) {
    .BurgerCard {
        width: 90%;
        height: 40vh;
    }
}

.NoIngredientLabel {
    width: 65%;
    font-weight: 600;
}
