.Ingredient {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.Meat {
    height: 2vh;
    background: linear-gradient(#7f3608, #702e05);
    border-radius: 15px;
}

.Cheese {
    height: 2vh;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.Salad {
    height: 2vh;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    height: 2vh;
    background: linear-gradient(#bf3813, #c45e38);
    border-radius: 20px;
}

.BurgerTop {
    height: 13vh;
    background-color: #e27b36;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid black;
}

.BurgerBottom {
    height: 13vh;
    background-color: #e27b36;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid black;
}

@media (max-width: 768px) {
    .Ingredient {
        width: 100%;
    }
}
